In [2]:
import pandas as pd
import numpy as np

In [3]:
series = pd.Series([5, 3, 7, 3, 2, 7, 8, 9])

In [4]:
series

0    5
1    3
2    7
3    3
4    2
5    7
6    8
7    9
dtype: int64

In [5]:
datas = pd.date_range('20180101', periods=6)
datas

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06'],
              dtype='datetime64[ns]', freq='D')

In [7]:
df = pd.DataFrame(np.random.randn(6, 4), index = datas, columns = list("ABCD")

In [8]:
df

                   A         B         C         D
2018-01-01 -0.114067 -0.841748  0.205095 -1.018307
2018-01-02  2.266647  1.475944  0.283845 -0.938181
2018-01-03  0.264383 -1.166590 -0.496857  1.181318
2018-01-04  1.975808  1.190942 -0.577603  1.109360
2018-01-05 -0.125601 -0.309080 -0.740032  0.414750
2018-01-06 -1.153154 -0.740354  0.612552 -0.345895

In [14]:
df2 = pd.DataFrame({"A":7,
                    "b": pd.Timestamp('20190101'),
                    "C": pd.Series(1, index=list(range(4)), dtype='float32'),
                    "D": np.array([3] * 4, dtype='int32'),
                    "E": pd.Categorical(['test', 'train', 'test', 'train']),
                    "F": 'Python'})

In [15]:
df2

   A          b    C  D      E       F
0  7 2019-01-01  1.0  3   test  Python
1  7 2019-01-01  1.0  3  train  Python
2  7 2019-01-01  1.0  3   test  Python
3  7 2019-01-01  1.0  3  train  Python