In [24]:
import pandas as pd
import numpy as np
np.random.seed(100)

In [25]:
indices = ['janeiro', 'março', 'maio', 'julho', 'agosto', 'outubro', 'novembro']

In [26]:
colunas = np.arange(1,32)

In [27]:
colunas

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17,
       18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31])

In [28]:
dados = np.random.randint(492,2050, size=(7,31))

In [29]:
dados

array([[2036, 1284,  571,  842,  545, 2042, 1294, 1501, 1244,  772, 1744,
        1832, 1404, 2023, 1609,  578,  878,  907, 1389, 1657, 1249, 1104,
        1520, 1095, 1327,  627,  541, 1947,  809, 1274, 1459],
       [1255, 1852,  494, 1381, 1109,  970, 1919,  555, 1697,  775, 1754,
        1885, 1436, 1819, 1298,  664,  766,  684, 1444, 1422,  929,  765,
        2041, 1110, 1546,  509, 1569,  560,  980, 1863,  967],
       [1185, 1338, 1516,  505, 1701, 1976,  854,  623, 1074, 1728,  886,
        1731, 2018,  987, 1135, 1365, 1692, 1696,  528, 1331,  530, 1730,
        1610, 1230, 1686, 1344,  587, 1592,  806,  594, 1430],
       [ 898, 1772, 1254,  718, 1407,  688,  938, 1310, 1968,  911,  899,
        1257, 2037, 1436, 2012,  901, 1954,  754, 1638, 1702, 1811,  778,
        1381, 1070,  735, 1412,  931,  765, 1305, 2001,  581],
       [ 921, 1295, 1532, 2040, 1982, 1113, 1583,  712, 1739, 1280,  630,
        1268,  965, 1204, 1930, 1505, 1865, 1379, 1048, 1761, 1573,  875,
        1260, 1186, 1480, 1905, 1951,  838,  526,  943, 1354],
       [1186, 1593,  704,  877, 1530, 1805,  640,  660, 1993,  934, 1288,
        1214, 1994, 1006, 1067, 1373, 1646, 1731,  637, 1753, 1766,  969,
        1228,  566, 1953, 1583, 1160, 1598, 1490, 1917, 1145],
       [1085, 1377, 1285, 1710, 1147,  856,  614,  503, 1105, 1496,  530,
        1315,  805,  579, 1183, 1246,  998, 1185, 1197, 1814,  664,  636,
        1698,  675,  575,  994, 1872, 1252, 1250, 1505,  605]])

In [30]:
df = pd.DataFrame(data=dados, index=indices, columns=colunas)

In [31]:
df

,1,2,3,4,5,6,7,8,9,10,...,22,23,24,25,26,27,28,29,30,31
janeiro,2036,1284,571,842,545,2042,1294,1501,1244,772,...,1104,1520,1095,1327,627,541,1947,809,1274,1459
março,1255,1852,494,1381,1109,970,1919,555,1697,775,...,765,2041,1110,1546,509,1569,560,980,1863,967
maio,1185,1338,1516,505,1701,1976,854,623,1074,1728,...,1730,1610,1230,1686,1344,587,1592,806,594,1430
julho,898,1772,1254,718,1407,688,938,1310,1968,911,...,778,1381,1070,735,1412,931,765,1305,2001,581
agosto,921,1295,1532,2040,1982,1113,1583,712,1739,1280,...,875,1260,1186,1480,1905,1951,838,526,943,1354
outubro,1186,1593,704,877,1530,1805,640,660,1993,934,...,969,1228,566,1953,1583,1160,1598,1490,1917,1145
novembro,1085,1377,1285,1710,1147,856,614,503,1105,1496,...,636,1698,675,575,994,1872,1252,1250,1505,605

    df[coluna]
    df[col1, col2, col3]
    df[coluna][linha]
    df[linha1:linha2]
    df.loc[indice_linha,indice_coluna] df.loc['julho', 30]
    df.iloc[indice_numerico_linha,indice-numerico_coluna] df.iloc[3,5]

In [33]:
# Quanto vendeu no dia 10 de todos os meses?

In [34]:
df[10]

janeiro      772
março        775
maio        1728
julho        911
agosto      1280
outubro      934
novembro    1496
Name: 10, dtype: int64

In [38]:
df[[10,2 30]]

KeyError: '[0] not in index'